InsTrail/InstagramAndroid/build/intermediates/bundles/release/classes.jar
InsTrail/InstagramAndroid/build/intermediates/incremental/mergeReleaseAssets/merger.xml
InsTrail/InstagramAndroid/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
InsTrail/InstagramAndroid/build/intermediates/incremental/packageReleaseResources/merger.xml
InsTrail/InstagramAndroid/build/outputs/aar/InstagramAndroid-release.aar
InsTrail/InstagramAndroid/build/intermediates/bundles/debug/classes.jar
InsTrail/InstagramAndroid/build/intermediates/incremental/mergeDebugAndroidTestAssets/merger.xml
InsTrail/InstagramAndroid/build/intermediates/incremental/mergeDebugAssets/merger.xml
InsTrail/InstagramAndroid/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
InsTrail/InstagramAndroid/build/intermediates/incremental/packageDebugResources/merger.xml
InsTrail/InstagramAndroid/build/outputs/aar/InstagramAndroid-debug.aar
InsTrail/InstagramAndroid/build/intermediates/res/resources-debug-androidTest.ap_
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/R$id.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/R$layout.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/R$menu.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/R$string.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/R$style.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/R.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/R$style.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/R.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/BuildConfig.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/R$attr.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/R$dimen.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/test/R$drawable.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/R$dimen.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/R$drawable.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/R$id.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/R$layout.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/R$menu.class
InsTrail/InstagramAndroid/build/intermediates/classes/androidTest/debug/net/londatiga/android/instagram/R$string.class
