InsTrail/InstagramAndroid/build/intermediates/bundles/release/classes.jar
InsTrail/InstagramAndroid/build/intermediates/incremental/mergeReleaseAssets/merger.xml
InsTrail/InstagramAndroid/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
InsTrail/InstagramAndroid/build/intermediates/incremental/packageReleaseResources/merger.xml
InsTrail/InstagramAndroid/build/outputs/aar/InstagramAndroid-release.aar
